<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Results</title>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>Results</h3>
                <ul>
                    {% for player in results %}
                        <li>{{ player['username'] }} {{ player['correctAnswerCount'] }}✔️ {{ player['wrongAnswerCount'] }}❌ {{ player['averageAnswerTime'] }}🕒</li>
                    {% endfor %}
                </ul>
                <form action="{{ url_for('leavegame') }}" method="get">
                    <button type="submit">
                        Return to Menu
                    </button><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>