<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Game</title>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>{{ question }}</h3>
                <p id="timer"></p>
            </div>

            {% if submitted %}
                {% if is_correct %}
                    <p>You were correct!</p>
                {% else %}
                    <p>You were wrong!</p>
                {% endif %}
            {% endif %}
            {% for answer in answers %}
                <form action="{{ url_for('submitanswer', answer_id=(loop.index - 1), game_id=game_id, time_per_question=time_per_question, question_count=question_count, question_id=question_id) }}" method="get">
                    <button type="submit" onclick='lockButtons("{{ loop.index }}")'>
                        <h3>{{ answer }}</h3>
                    </button><br>
                </form>
            {% endfor %}

            <p class="message"><a href="/leavegame?">Leave Game</a></p>
        </div>
    </div>
    <script>
        var time = parseInt("{{ time_per_question }}");
        var timerElement = document.getElementById('timer');

        function formatTime() {
            let minutes = Math.floor(time / 60);
            let seconds = Math.floor((time % 60));

            let formattedMinutes = String(minutes).padStart(2, '0');
            let formattedSeconds = String(seconds).padStart(2, '0');

            timerElement.innerHTML = formattedMinutes + ':' + formattedSeconds;
        }

        var countdownInterval = setInterval(function() {
            formatTime();

            if (time <= 0) {
                clearInterval(countdownInterval);
                window.location.href = "{{ url_for('submitanswer', answer_id=4, game_id=game_id, time_per_question=time_per_question, question_count=question_count, question_id=question_id) }}";
            }
            time -= 1;
        }, 1000);

        function lockButtons(currentIndex) {
            const buttons = document.querySelectorAll("button");
            currentIndex--;
            console.log(currentIndex);
            buttons.forEach((button, index) => {
                console.log(index);
                // button.disabled = true;
                if (index === currentIndex) return;
                button.style.backgroundImage = button.style.backgroundColor = "none";
            });
            
        }
    </script>
</body>
</html>