<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Welcome</title>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>WELCOME</h3>
                <p>Please login or sign up.</p>
            </div>
        </div>
        <form action="/login" method="get">
            <button type="submit">Login</button><br>
        </form>
        <form action="/register" method="get">
            <button type="submit">Register</button><br>
        </form>
    </div>
</body>
</html>