<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>LOGIN</h3>
                <p>Please enter your credentials to login.</p>
            </div>
        </div>
        <form class="form" action="/login" method="post">
            <input type="text" name="inputUsername" placeholder="Enter username" required><br>
            <input type="password" name="inputPassword" placeholder="Enter password" required><br>
            <button type="submit">Login</button><br>
            <p class="message">Not registered? <a href="/register?">Create an account</a>
                {{ output }}</p>
            {% if error %}
            <div class="login-header">
                <p style="color:red">{{ error }}</p>
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>