<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Menu</title>
    <script>
        setInterval(function() {
            location.reload();
        }, 2000);
    </script>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>Welcome!</h3>
                <p>Join or create a room to start playing!</p>
                <p>Wins: {{wins}}</p>
                <p>Total Games: {{total_games}}</p>
                <p>Win Percentage: {{win_percentage}}</p>
            </div>

            <p class="message"><a href="/newroom?">Create your own room</a></p>

            {% for room in rooms %}
                <form action="{{ url_for('room', room_id=room['id'], room_name=room['name'], is_admin=False) }}" method="get">
                    <button type="submit">
                        <h3>{{ room['name'] }} - Room #{{ room['id'] }}</h3>
                        <ul>
                            <li>{{ room['numOfQuestionsInGame'] }} questions</li>
                            <li>{{ room['maxPlayers'] }} max players</li>
                            <li>{{ room['timePerQuestion'] }} sec per question</li>
                        </ul>
                    </button><br>
                </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>