<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Create Room</title>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>NEW ROOM</h3>
                <p>Fill out the following to create your room.</p>
            </div>
        </div>
        <form class="form" action="/newroom" method="post">
            <input type="text" name="name" placeholder="Enter name" required><br>
            <input type="number" name="maxPlayers" placeholder="Enter max players" value="10" min="2"><br>
            <input type="number" name="numOfQuestionsInGame" placeholder="Enter number Of questions" value="10" min="1"><br>
            <input type="number" name="timePerQuestion" placeholder="Enter time per question" value="30" min="10"><br>
            <button type="submit">Create Room</button><br>
            {% if error %}
            <div class="login-header">
                <p style="color:red">{{ error }}</p>
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>