<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>REGISTER</h3>
                <p>Please enter your credentials to create an account.</p>
            </div>
        </div>
        <form class="form" action="/register" method="post">
            <input type="text" name="inputUsername" placeholder="Enter username" required><br>
            <input type="text" name="inputEmail" placeholder="Enter email" required><br>
            <input type="password" name="inputPassword" placeholder="Enter password" required><br>
            <button type="submit">Register</button><br>
            <p class="message">Have an account? <a href="/login?">Log in</a>
                {{ output }}</p>
            {% if error %}
            <div class="login-header">
                <p style="color:red">{{ error }}</p>
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>