<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Menu</title>
    <script>
        setInterval(function() {
            location.reload();
        }, 2000);
    </script>
</head>
<body>
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>{{room_name}} - Room #{{room_id}}</h3>
                <form action="{{ url_for('leaveroom', is_admin=is_admin) }}" method="get">
                    <button type="submit">
                        {% if is_admin %}
                            Close Room
                        {% else %}
                            Leave Room
                        {% endif %}
                    </button><br>
                </form>
                {% if is_admin %}
                    <form action="{{ url_for('game', game_id=room_id, time_per_question=time_per_question, question_count=question_count, submitted=-1, is_correct=False, question_id=0) }}" method="get">
                        <button type="submit">Start Game</button><br>
                    </form>
                {% else %}
                    <p>Waiting for the game to start...</p>
                {% endif %}
            </div>
            
            <h3>Player list ({{playerCount}}/{{maxPlayers}})</h3>

            <ul>
                {% for player in players %}
                    <li>{{ player }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>